.parent{
    /* background-color: brown; */
    width: 100%;
    height: 97vh;
    display: grid;
    place-items: center;
}
.child{
    background-image: url(./image/sweater.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
   height: 90vh;
    width: 30%;
}
.otherchild{
    background-image: url(./image/nature3.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
   height: 90vh;
    width: 30%;
}
.third-child{
    background-image: url(./image/sweater7.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
   height: 90vh;
    width: 30%;
}

.love{
    position: relative;
    width: 45%;
    height: 25vh;
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: cycle 1.5s linear infinite 0s forwards;
    animation-play-state: paused;
    border-radius: 8%;
}


 .love:hover .image {
    animation-play-state: running;
}
.image1{
    z-index: 10;
}
.image2{
    z-index: 9;
    animation-delay: .15s;
}
.image3{
    z-index: 8;
    animation-delay: .3s;
}
.image4{
    z-index: 7;
    animation-delay: .45s;
}
.image5{
    z-index: 6;
    animation-delay: .600s;
}
.image6{
    z-index: 5;
    animation-delay: .900s;
}

@keyframes cycle{
    from{
        visibility: visible;
        z-index: 11;
    }
    to{
        visibility: hidden;
        z-index: 8;
    }
}

.worry{
    position: relative;
    width: 45%;
    height: 25vh;
}
.first{
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-around;
     height: 50%;
   
}
.sub-top{

    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    border-radius: 20px;
    padding-top: 5px;
}
.one{
    font-size: 40px;
    border-radius: 15px;
    background-color: aliceblue;
    width: 40%;
    place-items: 
    center;
    display: grid;
    padding-top: 5px;
    color: rgb(159, 3, 3);
    
}

.two{
    font-size: 40px;
    background-color: aliceblue;
    width: 40%;
    border-radius: 15px;
    place-items: center;
    display: grid;
    padding-top: 5px;
    color: rgb(159, 3, 3);
}
.three{
    font-size: 40px;
    background-color: aliceblue; 
    width: 40%;
    border-radius: 15px;
    place-items: center;
    display: grid;
    padding-top: 5px;
    color: rgb(159, 3, 3);
}
.four{
    font-size: 40px;
    background-color: aliceblue;
    width: 40%;
    border-radius: 15px;
    place-items: center;
    display: grid;
    padding-top: 5px;
    color: rgb(159, 3, 3);
}

img{
    width: 40px;
    border-radius: 10px;
}
p{
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    color: black;
}
.widget{
    position: relative;
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    align-items: center;
    display: inline-block;
    color: white;
    position: relative;
    display: grid;
    place-items: center; 
    border: none;
    background-image: url(./image/sweater3.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.widget::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./image/sneaker.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    place-items: center;
    transform: translateX(-105%);
    transition: transform.25s;
   
}
.widget:hover::before{
    transform: none;
}
.widget span{
    display: inline-block;
    padding: -90px 20px;
    transition: transform 0.25s;
}
.widget:hover span{
    transform: translateX(125%);
    }
.first1{
    height: 35%;
    width: 90%;
    /* display: flex; */
    padding: 0px 20px;
    justify-content: space-between;
    align-content: space-between;
    border: 0px; 
    
}
@media(max-width: 768px){
   
    .child{
       
        background-image: url(./image/flower.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       border-radius: 20px;
       max-height: 100vh;
        width: 100%;
    }

    .first{
        display: flex;
        padding: 15px 25px;
        justify-content: space-between;
    }
    .worry{
        position: relative;
        width: 50%;
        height: 25vh;
    }

    .love{
        position: relative;
        width: 50%;
        height: 25vh;
    }

    .otherchild{
        
        background-image: url(./image/nature5.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       border-radius: 20px;
       max-height: 95vh;
        width: 100%;
    }
    .third-child{
        background-image: url(./image/quote3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        max-height: 95vh;
         width: 100%;
    }
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
